<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
		  http://www.springframework.org/schema/security
		  http://www.springframework.org/schema/security/spring-security.xsd
		  http://www.springframework.org/schema/context
		  http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<http pattern="/login" security="none" />-->
    <http pattern="/reguser" security="none"/>
    <http pattern="/static/**" security="none"/>

    <!--可自动注册登录表单-false-->
    <http auto-config="false" use-expressions="true">
        <access-denied-handler ref="accessDeniedHandler"/>
        <!--关闭csrf防护-->
        <csrf disabled="true"/>
        <!--<intercept-url pattern="/login" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')"/>-->
        <intercept-url pattern="/reguser" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')"/>
        <!--<intercept-url pattern="/admin" access="hasRole('ROLE_STATIC')"/>-->
        <!--表示访问任何资源都需要ROLE_ADMIN权限。-->
        <!--<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
        <!--<intercept-url pattern="" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')"/>-->

        <!-- 拦截器 -->
        <custom-filter position="FORM_LOGIN_FILTER" ref="customUsernamePasswordAuthenticationFilter"/>
        <http-basic entry-point-ref="myBasicAuthenticationEntryPoint"/>

        <!-- 退出注销 -->
        <logout invalidate-session="true"
                logout-url="/logout" success-handler-ref="logoutSuccessHandler"
                delete-cookies="true"/>
    </http>

    <b:bean id="customUsernamePasswordAuthenticationFilter" class="org.chinaos.security.JsonLoginFilter">
        <b:property name="authenticationManager" ref="authenticationManager"/>
        <b:property name="authenticationSuccessHandler" ref="customSuccessHandler"/>
        <b:property name="authenticationFailureHandler" ref="failureHandler"/>
        <b:property name="filterProcessesUrl" value="/login"/>
        <b:property name="usernameParameter" value="username"/>
        <b:property name="passwordParameter" value="password"/>
    </b:bean>

    <b:bean id="bCryptPasswordEncoder"
            class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <b:constructor-arg name="strength" value="11"/>
    </b:bean>
    <!--登陆成功返回-->
    <b:bean id="customSuccessHandler" class="org.chinaos.security.LoginSuccessHandler"/>
    <!--失败返回-->
    <b:bean id="failureHandler" class="org.chinaos.security.LoginErrorHandler"/>
    <!--基本身份认证-->
    <b:bean id="myBasicAuthenticationEntryPoint" class="org.chinaos.security.MyBasicAuthenticationEntryPoint"/>

    <b:bean id="logoutSuccessHandler" class="org.chinaos.security.LogoutHandler">
        <b:constructor-arg value="/logoutsuccess"/>
    </b:bean>

    <!--<b:bean id="userService" class="org.chinaos.service.UserService"/>-->
    <!--加密算法-->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="bCryptPasswordEncoder"/>
        </authentication-provider>
    </authentication-manager>
    <b:bean id="accessDeniedHandler" class="org.chinaos.security.MyAccessDeniedHandler"/>
    <b:bean id="mySecurityFilter" class="org.chinaos.filter.MySecurityFilter"/>
</b:beans>