<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chinaos.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="keepAlive" property="keepalive" jdbcType="BIT"/>
        <result column="requireAuth" property="requireauth" jdbcType="BIT"/>
        <result column="parentid" property="parentid" jdbcType="INTEGER"/>
        <result column="iconCls" property="iconcls" jdbcType="VARCHAR"/>
        <collection property="children" ofType="Menu" javaType="ArrayList">
            <result column="ids" property="id" jdbcType="INTEGER"/>
            <result column="urls" property="url" jdbcType="VARCHAR"/>
            <result column="paths" property="path" jdbcType="VARCHAR"/>
            <result column="names" property="name" jdbcType="VARCHAR"/>
            <result column="components" property="component" jdbcType="VARCHAR"/>
            <result column="keepAlives" property="keepalive" jdbcType="BIT"/>
            <result column="requireAuths" property="requireauth" jdbcType="BIT"/>
            <result column="parentids" property="parentid" jdbcType="INTEGER"/>
            <result column="iconClss" property="iconcls" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id, url, path, name, component, keepAlive, requireAuth, parentid, iconCls
    </sql>
    <sql id="Base_Column_Lists">
        id AS ids,url AS urls,path AS paths,name AS names,component AS components
        ,keepAlive AS keepAlives,requireAuth AS requireAuths,parentid AS parentids , iconCls AS iconClss
    </sql>
    <select id="queryHasMenu" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
        select m.*,sm.id AS ids,
        sm.url AS urls,sm.path AS paths,sm.name AS names,sm.component AS components,
        sm.keepAlive AS keepAlives,sm.requireAuth AS requireAuths,
        sm.parentid AS parentids,sm.iconCls AS iconClss
        from (
        SELECT
        <include refid="Base_Column_List"/>
        from menu
        where parentid=-1 and id in (
        SELECT menu_id FROM menu_role where role_id in
        <foreach collection="array" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        )) m
        LEFT JOIN menu sm on sm.parentid=m.id
    </select>
</mapper>